.container {
    margin-top: 5vh;
    text-align: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

.content img {
    cursor: pointer;
    height: 100%;
}

.image2, .image3, .image4, .msg {
    display: none;
}