body {
    background-color: #fff;
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin: 0 0 calc(2vh + 6px) 0;
    font-family: "Shadows Into Light Two", Arial, sans-serif;
    font-size: calc(4vh + 6px);
    color: #563823;
}

h2 {
    margin: 0 0 calc(2vh + 20px) 0;
    font-family: "Shadows Into Light Two", Arial, sans-serif;
    font-size: calc(4vh + 2px);
    color: #563823;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.content img {
    cursor: pointer;
    height: 100%;
}

.hidden {
    display: none;
}

.msg {
    font-family: Shadows Into Light Two, Arial, sans-serif;
    font-size: calc(4vh + 2px);
    color: #805434;
}